
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body > div {
    padding: 0 15vw;
}

.top-container {
    background-color: #1F2937;
    display: inline-block;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    align-items: baseline;
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 26px;
}

.header-links,
.top-img-placeholder,
.main-text-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo,
.main-text-title,
.main-signup {
    color: #F9FAF8;
}

.top-content {
    margin-top: 120px;
    margin-bottom: 90px;
    display: flex;
}

.top-img-placeholder {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.main-text {
    flex-basis: 50%;
    padding-right: 45px;
    box-sizing: border-box;
}

.main-text-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 6px;
}

.main-signup {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 7px;
    width: 135px;
    font-weight: 550;
    font-size: 18px;
    margin-top: 12px;
    border-color: transparent;
}